.produto {
  background-color: var(--branco);

  box-shadow: 10px 10px 30px var(--preto-transparente);

  box-sizing: border-box;
  margin-bottom: 1rem;
  min-height: 12.5rem;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 50%;

  position: relative;
}

.produto__imagem {
  position: absolute;
  top: 50%;
  left: -8rem;

  transform: translateY(-50%);
  z-index: 1;

  width: 18.75rem;
}

.produto__conteudo {
  position: relative;
  z-index: 2;
}

.produto__titulo {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.produto__preco {
  margin-bottom: 1.5rem;
}

.produto__comprar {
  color: var(--amarelo);

  display: flex;
  align-items: center;
}

.produto__comprar--icone {
  background-image: url(../../img/icones/seta.svg);
  background-size: contain;
  display: inline-block;
  height: 0.875rem;
  margin-left: 1.75rem;
  width: 0.875rem;
}

@media screen and (min-width: 1200px) {
  .produto__desktop {
    display: grid;

    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 200px 200px;

    gap: 2rem;
    justify-content: center;
  }

  .produto {
    margin-bottom: 0;
  }

  .produto__imagem {
    transform: scale(0.85) translate(25%, -50%);
  }
}
